.relationalGraphToolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    padding: 20px;
}

.toolbarButtonContainer {
    flex-grow: 1;
}
.toolbarButtons{
    display: flex;
    align-items: center;
}

.graphDashboard {
    display: flex;
    margin-top: -16px
}