.card {
    margin-top: 8px;;
}
.info-box {
    border-radius: 5px;
    color: #fff;
    box-shadow: 3px -3px 4px 2px rgba(4,26,55,.16);
    border: none;
    margin: 8px 0 0px;
    transition: all .3s ease-in-out;
    min-height: 185px;
}
.l-bg-green {
    background: linear-gradient(135deg,#23bdb8,#43e794)!important;
    color: #fff;
}
.info-box .info-box-block {
    padding: 25px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-r-5 {
    margin-right: 5px;;
}
